{{ 'buttons-grid.css' | asset_url | stylesheet_tag }}

<section class="btn-grid">
  {% if section.settings.desktop_image != blank %}
    <div class="btn-grid__media">
      <picture>
        {% if section.settings.mobile_image != blank %}
          <source media="(max-width:989px)" srcset="{{ section.settings.mobile_image | image_url }}">
        {% endif %}
        <img src="{{ section.settings.desktop_image | image_url }}" alt="{{ section.settings.desktop_image.alt }}" class="btn-grid__img">
      </picture>
    </div>
  {% endif %}
  <div class="btn-grid__container">
    {% if section.blocks.size > 0 %}
      <div class="btn-grid__blocks">
        {% for block in section.blocks %}
          <div class="btn-grid__block btn-grid__block--{{ forloop.index }}">
            {% if block.settings.title != blank %}
              <a href="{{ block.settings.link }}" class="btn-grid__block-btn h4 color-light-black2" data-aos="fade-up" data-aos-offset="0" data-aos-duration="800" data-aos-easing="ease-out" style="--aos-translate-y: 5px;">
                <span>
                  {{ block.settings.title }}
                </span>
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.93881 6.7709C4.70563 6.45507 4.09577 6.05643 3.81352 5.63849C3.53126 5.22055 2.63205 4.34221 2.34878 3.79302C2.04419 3.33683 0.979815 2.24548 0.683348 1.74788C0.347621 1.36644 0.267413 0.654777 0.61803 0.482477C0.975052 0.287682 1.36828 0.174711 1.77107 0.151213C1.96717 0.168436 2.16088 0.207735 2.34878 0.268419C2.4084 0.291543 2.47081 0.306067 2.53424 0.311581C2.59782 0.309207 2.66107 0.322024 2.71911 0.349039C2.77714 0.376056 2.82841 0.416549 2.86895 0.467387C2.92872 0.530838 2.99713 0.584869 3.07201 0.627756C3.48999 0.896232 3.86346 1.23288 4.17801 1.62471C4.27751 1.737 4.39867 1.80613 4.49851 1.91808C4.67145 2.11178 4.83491 2.32409 5.00277 2.52797C5.2038 2.77151 5.40416 3.01574 5.60688 3.25612C5.79166 3.47544 5.97712 3.69477 6.16597 3.90602C6.37884 4.14394 6.5968 4.37204 6.81102 4.60785C6.84487 4.64294 6.89089 4.68961 6.89496 4.73769C6.90579 4.8749 6.95926 4.88578 7.03304 4.92368C7.12889 4.99468 7.21457 5.07939 7.28754 5.17528C7.40289 5.31871 7.53281 5.44883 7.67504 5.5634C7.97253 5.74798 8.14513 6.14662 8.38 6.43577C8.49322 6.58139 8.57236 6.75222 8.61123 6.93487C8.65011 7.11752 8.64764 7.30703 8.60404 7.48852C8.58659 7.58216 8.54976 7.67076 8.49608 7.7482C8.21857 8.11315 7.94038 8.47776 7.65237 8.82376C7.40159 9.12485 7.13795 9.40067 6.87973 9.68701C6.80692 9.75675 6.73842 9.83118 6.67464 9.90985C6.35314 10.3229 5.97046 10.6805 5.54088 10.9693C5.29687 11.157 5.04609 11.3247 4.80208 11.5118C4.60951 11.6592 4.42405 11.8276 4.23216 11.9767C4.1269 12.0556 4.01766 12.1286 3.9049 12.1954C3.73568 12.3006 3.56849 12.3985 3.40029 12.5007C3.37423 12.5165 3.35122 12.5473 3.32482 12.5572C2.99925 12.6768 2.67503 12.8056 2.34709 12.9081C2.14843 12.9695 1.94097 12.9751 1.74197 13.0274C1.49463 13.1008 1.22995 13.0784 0.997414 12.9642C0.959373 12.9425 0.917224 12.9295 0.873887 12.9263C0.688262 12.9456 0.5021 12.8955 0.348912 12.7851C0.195725 12.6747 0.0855751 12.5113 0.0382938 12.3242C-0.00807196 11.7925 0.078906 11.7978 0.311071 11.3563C0.610556 10.9674 0.974546 10.6371 1.38594 10.3808C1.6895 10.1348 2.01032 9.91266 2.34573 9.71614C2.78222 9.40304 3.1927 9.05266 3.57289 8.66866C3.76275 8.36266 4.40815 7.87734 4.60748 7.58573C4.68566 7.47133 5.01631 7.18638 5.13645 7.05935" fill="black"/>
                </svg>
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Buttons Grid",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      }
    ],
    "blocks": [
      {
        "type": "link_block",
        "name": "Link Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "URL"
          }
        ]
      }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Buttons Grid",
        "category": "Custom",
        "blocks": [
          {
            "type": "link_block"
          },
          {
            "type": "link_block"
          }
        ]
      }
    ]
  }
{% endschema %}  