<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{{ 'section-header.css' | asset_url | stylesheet_tag }}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }} {% if header_tag == 'sticky-header' %}data-sticky-type="{{ section.settings.sticky_header_type }}"{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer', wholesale: section.settings.wholesale, wholesaleurl: section.settings.wholesale_url
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo | image_url: width: 600 | image_tag:
                class: 'header__heading-logo motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      {% if section.settings.wholesale != blank %}
        <a class="header__svg header__svg--wholesale" href="{{ section.settings.wholesale_url }}">
          {{ section.settings.wholesale }}
        </a>
      {% endif %}
       <a href="#" class="header__svg header__svg--bag" data-custom-bag onclick="customBagClick(event)">
        Bag
        {% if cart.item_count > 0 %}
          <span class="custom-bag-count">({{ cart.item_count }})</span>
        {% endif %}
      </a>
      <a href="#" class="header__svg header__svg--wishlist">
        <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_15030_570)">
          <g clip-path="url(#clip1_15030_570)">
          <path d="M10.086 4.40201C10.5322 3.71972 11.067 3.09966 11.6763 2.55806C11.7776 2.46012 11.896 2.38178 12.0258 2.32701C12.6437 2.006 13.3197 1.81193 14.0138 1.75624C14.5639 1.76591 15.0903 1.98247 15.488 2.36279C15.7482 2.57264 15.9889 2.81031 16.2624 3.00071C16.8548 3.41338 17.2916 4.01291 17.5029 4.7033C17.7663 5.44455 17.9144 6.22184 17.942 7.00803C17.9196 7.39635 17.8676 7.7824 17.7865 8.16282C17.7556 8.28424 17.7365 8.40837 17.7295 8.53346C17.7411 8.77382 17.6681 9.01063 17.5232 9.20275C17.4356 9.32942 17.3642 9.46655 17.3107 9.61095C16.978 10.4066 16.5331 11.1504 15.9894 11.8198C15.8405 12.019 15.749 12.2616 15.6006 12.4604C15.3439 12.8058 15.0625 13.1328 14.7926 13.4685C14.4701 13.8701 14.1463 14.2708 13.8278 14.6759C13.5371 15.0456 13.2464 15.4158 12.9668 15.7935C12.6513 16.219 12.3483 16.6546 12.039 17.0831C11.9913 17.1485 11.9308 17.243 11.8672 17.2505C11.6852 17.2722 11.671 17.3791 11.6207 17.5266C11.532 17.71 11.4199 17.881 11.2871 18.0355C11.0905 18.2762 10.9183 18.5357 10.7729 18.8104C10.526 19.4024 9.99761 19.7478 9.61371 20.217C9.45791 20.4286 9.23941 20.5858 8.98921 20.6662C8.73902 20.7466 8.46985 20.7462 8.21992 20.665C8.08799 20.6252 7.96915 20.5507 7.87578 20.4494C7.39204 19.8945 6.90918 19.3383 6.45062 18.7627C6.05303 18.2617 5.68592 17.7347 5.30643 17.2165C5.21604 17.0742 5.1172 16.9374 5.01045 16.807C4.43757 16.1229 3.96512 15.3607 3.60738 14.5433C3.35822 14.0574 3.13645 13.5546 2.88862 13.0665C2.69335 12.6817 2.47114 12.3106 2.27234 11.9272C2.16279 11.7155 2.07355 11.4933 1.98254 11.2729C1.84029 10.938 1.71129 10.6023 1.57523 10.2648C1.54691 10.2162 1.52196 10.1657 1.50057 10.1137C1.34197 9.46295 1.17145 8.81487 1.03715 8.15884C0.955864 7.76125 0.948796 7.34996 0.878996 6.94971C0.781449 6.45384 0.810315 5.94139 0.962933 5.45962C0.992464 5.38042 1.00946 5.2971 1.01329 5.21266C1.01683 4.12502 1.51471 3.23264 2.08062 2.34733C2.30279 1.99427 2.60009 1.69455 2.95135 1.46953C3.70324 0.988441 4.5055 0.638999 5.43852 0.865628C5.52069 0.882925 5.60393 0.894585 5.68768 0.900528C6.13717 0.939299 6.5633 1.11754 6.90653 1.41033C7.08545 1.5623 7.32136 1.64624 7.50425 1.79467C7.83602 2.06371 8.15366 2.35087 8.46555 2.64332C8.87065 3.02324 9.27266 3.40714 9.65833 3.80606C9.8144 3.99449 9.95687 4.19379 10.0846 4.40245" fill="white"/>
          <path d="M10.086 4.40201C10.5322 3.71972 11.067 3.09966 11.6763 2.55806C11.7776 2.46012 11.896 2.38178 12.0258 2.32701C12.6437 2.006 13.3197 1.81193 14.0138 1.75624C14.5639 1.76591 15.0903 1.98247 15.488 2.36279C15.7482 2.57264 15.9889 2.81031 16.2624 3.00071C16.8548 3.41338 17.2916 4.01291 17.5029 4.7033C17.7663 5.44455 17.9144 6.22184 17.942 7.00803C17.9196 7.39635 17.8676 7.7824 17.7865 8.16282C17.7556 8.28424 17.7365 8.40837 17.7295 8.53346C17.7411 8.77382 17.6681 9.01063 17.5232 9.20275C17.4356 9.32942 17.3642 9.46655 17.3107 9.61095C16.978 10.4066 16.5331 11.1504 15.9894 11.8198C15.8405 12.019 15.749 12.2616 15.6006 12.4604C15.3439 12.8058 15.0625 13.1328 14.7926 13.4685C14.4701 13.8701 14.1463 14.2708 13.8278 14.6759C13.5371 15.0456 13.2464 15.4158 12.9668 15.7935C12.6513 16.219 12.3483 16.6546 12.039 17.0831C11.9913 17.1485 11.9308 17.243 11.8672 17.2505C11.6852 17.2722 11.671 17.3791 11.6207 17.5266C11.532 17.71 11.4199 17.881 11.2871 18.0355C11.0905 18.2762 10.9183 18.5357 10.7729 18.8104C10.526 19.4024 9.99761 19.7478 9.61371 20.217C9.45791 20.4286 9.23941 20.5858 8.98921 20.6662C8.73902 20.7466 8.46985 20.7462 8.21992 20.665C8.08799 20.6252 7.96915 20.5507 7.87578 20.4494C7.39204 19.8945 6.90918 19.3383 6.45062 18.7627C6.05303 18.2617 5.68592 17.7347 5.30643 17.2165C5.21604 17.0742 5.1172 16.9374 5.01045 16.807C4.43757 16.1229 3.96512 15.3607 3.60738 14.5433C3.35822 14.0574 3.13645 13.5546 2.88862 13.0665C2.69335 12.6817 2.47114 12.3106 2.27234 11.9272C2.16279 11.7155 2.07355 11.4933 1.98254 11.2729C1.84029 10.938 1.71129 10.6023 1.57523 10.2648C1.54691 10.2162 1.52196 10.1657 1.50057 10.1137C1.34197 9.46295 1.17145 8.81487 1.03715 8.15884C0.955864 7.76125 0.948796 7.34996 0.878996 6.94971C0.781449 6.45384 0.810315 5.94139 0.962933 5.45962C0.992464 5.38042 1.00946 5.2971 1.01329 5.21266C1.01683 4.12502 1.51471 3.23264 2.08062 2.34733C2.30278 1.99427 2.60009 1.69455 2.95135 1.46953C3.70324 0.988441 4.5055 0.638999 5.43852 0.865628C5.52069 0.882925 5.60393 0.894585 5.68768 0.900528C6.13717 0.939299 6.5633 1.11754 6.90653 1.41033C7.08545 1.5623 7.32136 1.64624 7.50425 1.79467C7.83602 2.06371 8.15366 2.35087 8.46555 2.64332C8.87065 3.02324 9.27266 3.40714 9.65833 3.80606C9.8144 3.99449 9.95687 4.19379 10.0846 4.40245" stroke="white" stroke-width="0.883544"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_15030_570">
          <rect width="18" height="20.88" fill="white" transform="translate(0.382935 0.328125)"/>
          </clipPath>
          <clipPath id="clip1_15030_570">
          <rect width="18" height="20.8185" fill="white" transform="translate(0.382935 0.358398)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__svg header__svg--acount"
          rel="nofollow"
        >
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15030_575)">
            <g clip-path="url(#clip1_15030_575)">
            <mask id="mask0_15030_575" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="21">
            <path d="M19.4617 0.688477H0.365234V20.8485H19.4617V0.688477Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_15030_575)">
            <path d="M17.779 4.84725C16.2283 2.89885 13.9931 1.61489 11.5288 1.25688C10.566 0.872591 9.53769 0.679296 8.5011 0.687767C7.08424 0.719357 5.73246 1.28881 4.72008 2.28056C3.09773 3.26012 1.86683 4.77372 1.23855 6.56169C0.0472808 9.78704 0.075616 13.3365 1.31823 16.5425C2.26082 18.7919 4.15951 19.7074 6.35058 19.9415C7.65635 20.6437 9.13838 20.9504 10.6156 20.824C12.0928 20.6977 13.5013 20.1438 14.6688 19.2301C15.1785 18.8268 15.6416 18.3679 16.0496 17.8621C17.6745 16.5733 18.7862 14.7469 19.1847 12.7116C19.5324 11.377 19.5867 9.98295 19.3441 8.62533C19.1014 7.26771 18.5675 5.97878 17.779 4.84725ZM6.59601 8.04849C5.20952 8.99535 3.60107 8.48884 2.46143 7.40824C1.93713 6.91027 2.73033 6.12063 3.2532 6.61647C4.04853 7.37054 5.06084 7.74402 6.02761 7.08171C6.62518 6.67409 7.18433 7.64442 6.59316 8.04849M9.43515 15.7784C8.7277 15.9786 7.97857 15.9786 7.27112 15.7784C7.15321 15.7453 7.0493 15.6747 6.9751 15.5773C6.90091 15.4799 6.86048 15.3609 6.85993 15.2385C7.01231 12.6084 7.36644 9.994 7.91919 7.4182C8.08779 6.71677 9.16767 7.01555 8.99907 7.71627C8.49242 10.0475 8.16494 12.4141 8.01949 14.7953C8.39546 14.8473 8.7783 14.8145 9.13993 14.6992C9.28096 14.6663 9.42927 14.6892 9.5538 14.7631C9.67833 14.8371 9.76941 14.9563 9.80794 15.0959C9.84648 15.2356 9.82948 15.3847 9.76052 15.512C9.69156 15.6394 9.57598 15.7351 9.438 15.7791M15.9052 8.38071C15.6159 8.75164 15.2493 9.05517 14.831 9.27022C14.4126 9.48527 13.9524 9.60669 13.4824 9.62605C13.0124 9.64541 12.5438 9.56224 12.1091 9.38233C11.6745 9.20241 11.2842 8.93005 10.9653 8.58416C10.4752 8.05703 11.2656 7.26383 11.7571 7.79239C12.7872 8.90073 14.1602 8.65388 15.112 7.58466C15.5922 7.04543 16.3819 7.84005 15.9038 8.37644" fill="white"/>
            </g>
            </g>
            </g>
            <defs>
            <clipPath id="clip0_15030_575">
            <rect width="19.44" height="20.16" fill="white" transform="translate(0.193481 0.688477)"/>
            </clipPath>
            <clipPath id="clip1_15030_575">
            <rect width="19.0965" height="20.16" fill="white" transform="translate(0.365234 0.688477)"/>
            </clipPath>
            </defs>
          </svg>        
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}
      <a class="header__svg header__svg--search" href="{{ routes.search_url }}">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_15030_584)">
          <g clip-path="url(#clip1_15030_584)">
          <path d="M18.2796 22.3892C18.1842 22.3529 18.0843 22.3298 17.9827 22.3203C17.8806 22.3239 17.7791 22.3037 17.6861 22.2614C17.5931 22.2191 17.5112 22.1558 17.4468 22.0765C17.3511 21.9769 17.241 21.8922 17.1203 21.8251C16.4496 21.4026 15.8516 20.8746 15.3493 20.2614C15.1902 20.0851 14.9959 19.9769 14.8368 19.8013C14.5613 19.4975 14.2981 19.1641 14.0288 18.8445C13.7071 18.4635 13.3861 18.0799 13.0644 17.7031L12.7889 17.3828L12.7 17.4089C12.6054 17.4348 12.5092 17.4546 12.4121 17.4682C12.3515 17.4778 12.2888 17.4881 12.2282 17.5012C12.1676 17.5143 12.0945 17.5322 12.0298 17.5488C11.9167 17.5797 11.8016 17.6027 11.6854 17.6177C11.4031 17.6532 11.1191 17.6743 10.8347 17.681H10.732C10.1748 17.67 9.60854 17.6445 9.06092 17.6197H9.05058L8.57942 17.5984C8.4607 17.5943 8.34251 17.5804 8.22605 17.557C8.14683 17.5405 8.06762 17.5178 7.99047 17.4964C7.87764 17.4619 7.76256 17.4352 7.64605 17.4165C7.32284 17.3893 7.01433 17.2694 6.75745 17.0714C6.6061 16.9359 6.42554 16.8371 6.2298 16.7828C6.02742 16.7309 5.83268 16.6529 5.65049 16.5506C5.51723 16.4789 5.37913 16.4165 5.23719 16.364L5.22686 16.3605C5.17846 16.3476 5.13353 16.324 5.09529 16.2916C4.81421 16.0205 4.512 15.7722 4.19154 15.5491C4.04619 15.4423 3.89672 15.3328 3.75413 15.2191C3.70283 15.1748 3.66251 15.1191 3.63634 15.0566C3.53685 14.8524 3.38615 14.6775 3.19893 14.5489C2.98405 14.3646 2.79826 14.1488 2.64786 13.909C2.5652 13.7905 2.49356 13.663 2.42399 13.5391C2.33572 13.3696 2.23268 13.2082 2.11608 13.0569C1.90858 12.7889 1.75639 12.4824 1.66834 12.1552C1.61598 11.9892 1.5595 11.8211 1.50439 11.6592C1.41691 11.405 1.32736 11.1412 1.25503 10.8767C1.18164 10.5799 1.1287 10.2784 1.0966 9.97433V9.95298C1.07144 9.75513 1.05879 9.55589 1.05872 9.35645C1.06958 8.86309 1.11214 8.37093 1.18615 7.88303L1.19648 7.79761C1.21596 7.68851 1.24571 7.58149 1.28534 7.47799C1.33526 7.34537 1.37464 7.20902 1.40313 7.0702C1.50164 6.51087 1.60978 6.06657 1.60978 6.06244C1.63734 5.99975 1.66076 5.93569 1.68349 5.87439C1.73811 5.67825 1.84251 5.49957 1.98658 5.35569C2.09392 5.24557 2.18236 5.1185 2.24833 4.97959C2.28347 4.91484 2.31722 4.84802 2.35993 4.78672C2.38817 4.74332 2.41365 4.69648 2.43914 4.64895C2.49295 4.53653 2.56697 4.43496 2.6575 4.3493C2.97301 4.07047 3.25524 3.75612 3.49857 3.41249C3.68068 3.16396 3.87807 2.92701 4.08959 2.70299C4.33126 2.46903 4.60382 2.26926 4.89966 2.10921C4.97543 2.0665 5.05534 2.03 5.13249 1.99487L5.26061 1.93356L5.41835 1.85572C5.7283 1.67764 6.06704 1.55524 6.41923 1.49408C6.5891 1.46603 6.75509 1.41817 6.91382 1.35149C7.05012 1.29576 7.19092 1.25174 7.33469 1.21993C7.44215 1.19926 7.54961 1.17768 7.65707 1.15517C8.14362 1.04064 8.64 0.97283 9.13944 0.952657H9.28961C10.0175 0.944954 10.7437 1.02474 11.4526 1.19031C12.0405 1.31871 12.6166 1.49661 13.1746 1.72209L13.3668 1.80337C13.7715 1.93898 14.1407 2.16326 14.4476 2.45983C14.5845 2.59419 14.7399 2.70831 14.9091 2.79874C15.0568 2.88016 15.1954 2.97715 15.3224 3.08805C15.5078 3.27485 15.6763 3.4777 15.826 3.69422C15.8949 3.78515 15.9637 3.87883 16.0326 3.96976C16.2737 4.30509 16.473 4.66848 16.6264 5.05192C16.6595 5.12424 16.6953 5.19726 16.7256 5.26959C16.9151 5.70407 17.0739 6.1513 17.2009 6.608C17.2622 6.80982 17.3256 7.01785 17.3938 7.22106C17.4891 7.49096 17.5401 7.77454 17.5446 8.06075V8.07453C17.5444 8.28877 17.5078 8.50143 17.4365 8.70343C17.4194 8.75427 17.4088 8.80702 17.4048 8.86049C17.3896 9.02236 17.3786 9.187 17.3683 9.34749C17.3533 9.71317 17.3109 10.0772 17.2415 10.4365C17.2202 10.5323 17.2036 10.6315 17.1871 10.7286C17.1587 11.0514 17.0513 11.3623 16.8744 11.6337L16.8675 11.6434C16.8351 11.6847 16.7986 11.7364 16.7986 11.777C16.797 12.1601 16.7173 12.5389 16.5644 12.8902C16.5224 13.0128 16.4817 13.1292 16.4494 13.2346C16.3805 13.3868 16.3226 13.5308 16.2627 13.6713C16.1938 13.8325 16.1249 13.9882 16.0616 14.1411C16.8633 14.9963 17.6044 15.9064 18.2796 16.8648C18.7666 17.5811 20.4715 19.2915 20.9461 20.072C21.4834 20.6706 21.6122 21.7865 21.0508 22.0572C20.4806 22.362 19.8509 22.5392 19.2054 22.5766H19.1889C18.8801 22.5459 18.5753 22.4831 18.2796 22.3892ZM8.02009 13.3606C8.04431 13.3657 8.06655 13.3777 8.08415 13.3951L8.09172 13.4006C8.23301 13.4958 8.396 13.5538 8.56564 13.5694C8.61593 13.5783 8.66828 13.5873 8.71788 13.5983C8.9048 13.6358 9.09433 13.6588 9.28479 13.6672C9.36883 13.6727 9.45631 13.6782 9.54241 13.6872C9.57038 13.6892 9.59795 13.695 9.62438 13.7044L9.65607 13.7154H9.66434H10.2788C10.3215 13.7044 10.3642 13.6906 10.4 13.6782C10.5054 13.6417 10.6136 13.6093 10.7183 13.5756C10.9586 13.5066 11.1936 13.4206 11.4216 13.3179L11.5318 13.2663C11.7342 13.1816 11.9255 13.0724 12.1014 12.9411C12.1483 12.9033 12.1965 12.8668 12.2433 12.8316C12.3577 12.7496 12.4645 12.6573 12.5623 12.5561C12.6206 12.4872 12.6716 12.4124 12.7145 12.3329C12.7614 12.2422 12.821 12.1587 12.8915 12.0849C13.0476 11.9193 13.1652 11.7213 13.2359 11.5049C13.2511 11.4691 13.2642 11.436 13.2793 11.3988C13.3964 11.0981 13.4885 10.7882 13.5549 10.4724C13.5897 10.3258 13.6166 10.1775 13.6355 10.0281V8.77025C13.6176 8.66004 13.5955 8.54844 13.5742 8.43961C13.5625 8.37899 13.5507 8.31906 13.5397 8.25844C13.523 8.18137 13.5 8.1058 13.4708 8.03251C13.4361 7.94648 13.4112 7.85683 13.3964 7.76524C13.3646 7.57582 13.3008 7.3932 13.2077 7.22519C13.1932 7.19695 13.1795 7.16871 13.1671 7.14115C13.1547 7.1136 13.1457 7.09431 13.1354 7.07227C13.1161 7.03025 13.0968 6.98754 13.0754 6.9469C12.9921 6.78797 12.8876 6.64106 12.7648 6.51018C12.6476 6.39578 12.5233 6.2888 12.3928 6.18987C12.2122 6.05816 12.0476 5.90582 11.9024 5.73593C11.8582 5.68778 11.8054 5.6483 11.7467 5.61952C11.7226 5.60574 11.6978 5.59127 11.6778 5.57612C11.6578 5.56097 11.6089 5.53479 11.5752 5.5155C11.503 5.48031 11.437 5.4338 11.3795 5.37774C11.305 5.30038 11.2114 5.24407 11.1081 5.21448C11.0758 5.20208 11.0393 5.18968 11.0103 5.17453C11.0103 5.17453 10.7782 5.11736 10.4827 5.06432C10.41 5.04921 10.3386 5.02849 10.2691 5.00232C10.2153 4.98107 10.1594 4.96515 10.1024 4.95479L10.0239 4.94446L9.8765 4.92517H8.78814C8.68684 4.93931 8.58654 4.95978 8.48781 4.98648C8.35004 5.02574 8.21227 5.07465 8.0745 5.12424C7.99047 5.15386 7.90436 5.18417 7.81757 5.21242C7.64555 5.25991 7.485 5.34194 7.34572 5.45351C7.26638 5.51621 7.1818 5.57198 7.09291 5.62021C7.02816 5.6574 6.96135 5.69598 6.90073 5.73937L6.89591 5.74282C6.77333 5.82144 6.66326 5.91804 6.5694 6.02937C6.50253 6.12948 6.41094 6.21063 6.30351 6.26496C6.27059 6.27898 6.24154 6.30072 6.21878 6.32833C6.15954 6.40548 6.10099 6.48676 6.0452 6.56529C5.92928 6.73742 5.79982 6.90004 5.65807 7.05161C5.6406 7.07282 5.62834 7.09782 5.62225 7.12462C5.5951 7.20118 5.56265 7.27576 5.52512 7.34781C5.47141 7.44663 5.43067 7.55198 5.40389 7.66122C5.37569 7.76635 5.32386 7.86366 5.25235 7.94571C5.1483 8.08352 5.08483 8.24767 5.06912 8.41963C5.0594 8.48314 5.04559 8.54595 5.02779 8.60768C5.01676 8.64901 5.00505 8.69172 4.9961 8.73443C4.98383 8.79712 4.97669 8.8607 4.97475 8.92455V8.93213C4.97443 8.93441 4.97443 8.93673 4.97475 8.93901V10.6673C4.98301 10.7086 4.99265 10.7507 5.00299 10.7906C5.01332 10.8306 5.01952 10.8595 5.02641 10.8912C5.0333 10.9229 5.03812 10.9559 5.04294 10.9876C5.05041 11.0408 5.06099 11.0934 5.07463 11.1454C5.13744 11.4198 5.25327 11.6793 5.4156 11.9093C5.44269 11.9484 5.46577 11.9902 5.48448 12.034C5.50716 12.089 5.53934 12.1396 5.57954 12.1834C5.88159 12.4691 6.22768 12.7043 6.60453 12.8798C6.7423 12.9446 6.88006 13.0045 7.02334 13.0686L7.25548 13.1712C7.31265 13.1884 7.37327 13.2105 7.43802 13.2332C7.60428 13.3033 7.78044 13.347 7.96016 13.3627C7.98019 13.3629 8.0002 13.3617 8.02009 13.3593V13.3606Z" fill="white"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_15030_584">
          <rect width="21.59" height="22.31" fill="white" transform="translate(0.443481 0.608398)"/>
          </clipPath>
          <clipPath id="clip1_15030_584">
          <rect width="21.046" height="22.31" fill="white" transform="translate(0.714966 0.608398)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      <a href="{{ routes.cart_url }}" class="header-cart link focus-inset" id="cart-icon-bubble">
        Bag
          {% if cart == empty %}
            <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
          {% else %}
            <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script>  
  function customBagClick(event) {
    event.preventDefault();
  
    const cartIcon = document.querySelector('#cart-icon-bubble');
    if (cartIcon) {
      cartIcon.click();
    }
  }

  const cartIconBubble = document.getElementById('cart-icon-bubble');
  if (cartIconBubble) {
    const observer = new MutationObserver(() => {
      const countSpan = cartIconBubble.querySelector('.cart-count-bubble span[aria-hidden="true"]');
      const itemCount = countSpan ? parseInt(countSpan.textContent.trim()) : 0;

      const customBag = document.querySelector('[data-custom-bag]');
      if (customBag) {
        let bagCountSpan = customBag.querySelector('.custom-bag-count');
        const formattedCount = itemCount > 0 ? `(${itemCount})` : '';

        if (bagCountSpan) {
          // ✅ Update existing span
          bagCountSpan.textContent = formattedCount;
        } else {
          bagCountSpan = document.createElement('span');
          bagCountSpan.classList.add('custom-bag-count');
          bagCountSpan.textContent = formattedCount;
          customBag.appendChild(bagCountSpan);
        }
      }
    });
    observer.observe(cartIconBubble, {
      childList: true,
      subtree: true
    });
  }

</script>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "label": "wholesale Text",
      "id": "wholesale"
    },
    {
      "type": "url",
      "label": "wholesale URL",
      "id": "wholesale_url"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },    
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info":"t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info":"t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
